.chatwindow{
    background-color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: aliceblue;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar span{
    margin: 1rem 2rem;
}

.chatinput{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
}

.userinput{
    width: 100%;
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    width: 100%;
    border: none;
    background: rgba(255,255,255,0.05);
    padding: 20px;
    font-size: 1rem;
    border-radius: 14px;
    color: white;
}

input:focus{
    outline: none;
}

#submit{
    cursor: pointer;
    color: pink;
    height: 35px;
    width: 35px;
    font-size: 20px;
    position: absolute;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit i:hover{
    color: white;
}

.info{
    font-size: 0.8rem;
    padding: 0.5rem;
    color: #b4b4b4;
}

