.sidebar{
    background-color: #171717;
    color: pink;
    height:100vh;
    width:320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
   
}

button span{
    position: absolute;
    font-size: 20px;
    left:15px;
    color: pink;
}

button p{
    margin: 0;
    color: pink;
    text-align: center;
}

button:hover{
    background: rgba(180,180,180,0.05);
}

.history{
    margin: 10px;
    padding: 10px;
    /* height: 100%; */
    flex: 1;
    overflow-y: auto;
}

.history li{
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-style: 14px;
    border: solid 10px transparent;
    position: relative;
}

.history li:hover{
    background: rgba(180,180,180,0.05);
    border-radius: 10px;
}

.sign{
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    border-top: solid 0.25px rgba(255,255,255,0.5);
}
.fa-trash{
    color: pink;
    opacity: 0;
    position: absolute;
    right: 0;
}
.history li:hover .fa-trash{
    opacity: 1;
}
.fa-trash:hover{
    color: rgb(226, 74, 74);
}
.highlighted{
    background: rgba(180,180,180,0.05);
}